# Xcode
.DS_Store
._.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
#.idea/
*.hmap

#android
*.apk
*.ap_

#meteor
.meteor/

#ThinkPHP
ThinkPHP/
ThinkPHP3_1/
Runtime/
Uploads/

#ionic
platforms/
plugins/

#cocos2djs
runtime/
frameworks/
*/tools/*

#other
*/.phpintel

# nodejs
node_modules/

# sass
.sass-cache/
